USE [DBDomayskaya21]
GO
/****** Object:  Table [dbo].[Defect]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defect](
	[Defect_ID] [int] IDENTITY(1,1) NOT NULL,
	[Defect_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Defect] PRIMARY KEY CLUSTERED 
(
	[Defect_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Device_ID] [int] IDENTITY(1,1) NOT NULL,
	[Device_Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[Device_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priory]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priory](
	[Priory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Priory_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priory] PRIMARY KEY CLUSTERED 
(
	[Priory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Request_Date] [date] NOT NULL,
	[Request_Device_ID] [int] NOT NULL,
	[Request_Defect_ID] [int] NOT NULL,
	[Request_Client_ID] [int] NOT NULL,
	[Request_Description] [nvarchar](500) NOT NULL,
	[Request_Status_ID] [int] NOT NULL,
	[Request_Master_ID] [int] NOT NULL,
	[Request_Time] [int] NOT NULL,
	[Request_Priory_ID] [int] NOT NULL,
	[Request_Stage_ID] [int] NOT NULL,
	[Request_Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_Request_1] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[Stage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Stage_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stage] PRIMARY KEY CLUSTERED 
(
	[Stage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.10.2024 7:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(101,1) NOT NULL,
	[User_Full_Name] [nvarchar](150) NOT NULL,
	[User_Login] [varchar](50) NOT NULL,
	[User_Password] [varchar](50) NOT NULL,
	[User_Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Defect] ON 

INSERT [dbo].[Defect] ([Defect_ID], [Defect_Name]) VALUES (1, N'Механическая')
INSERT [dbo].[Defect] ([Defect_ID], [Defect_Name]) VALUES (2, N'Электрическая')
INSERT [dbo].[Defect] ([Defect_ID], [Defect_Name]) VALUES (3, N'Ошибки эксплуатации')
SET IDENTITY_INSERT [dbo].[Defect] OFF
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([Device_ID], [Device_Name]) VALUES (1, N'Токарный станок АП567')
INSERT [dbo].[Device] ([Device_ID], [Device_Name]) VALUES (2, N'Фрезерный станок 12')
INSERT [dbo].[Device] ([Device_ID], [Device_Name]) VALUES (3, N'Расточный станок ТИ90')
SET IDENTITY_INSERT [dbo].[Device] OFF
GO
SET IDENTITY_INSERT [dbo].[Priory] ON 

INSERT [dbo].[Priory] ([Priory_ID], [Priory_Name]) VALUES (1, N'Низкий')
INSERT [dbo].[Priory] ([Priory_ID], [Priory_Name]) VALUES (2, N'Высокий')
INSERT [dbo].[Priory] ([Priory_ID], [Priory_Name]) VALUES (3, N'Средний')
SET IDENTITY_INSERT [dbo].[Priory] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Request_ID], [Request_Date], [Request_Device_ID], [Request_Defect_ID], [Request_Client_ID], [Request_Description], [Request_Status_ID], [Request_Master_ID], [Request_Time], [Request_Priory_ID], [Request_Stage_ID], [Request_Comment]) VALUES (1, CAST(N'2023-03-12' AS Date), 1, 1, 125, N'Износ элементов конструкции', 1, 105, 60, 1, 1, N'')
INSERT [dbo].[Request] ([Request_ID], [Request_Date], [Request_Device_ID], [Request_Defect_ID], [Request_Client_ID], [Request_Description], [Request_Status_ID], [Request_Master_ID], [Request_Time], [Request_Priory_ID], [Request_Stage_ID], [Request_Comment]) VALUES (2, CAST(N'2023-03-13' AS Date), 2, 2, 126, N'Нарушение в электрических цепях', 2, 110, 120, 1, 2, N'')
INSERT [dbo].[Request] ([Request_ID], [Request_Date], [Request_Device_ID], [Request_Defect_ID], [Request_Client_ID], [Request_Description], [Request_Status_ID], [Request_Master_ID], [Request_Time], [Request_Priory_ID], [Request_Stage_ID], [Request_Comment]) VALUES (3, CAST(N'2023-03-14' AS Date), 3, 3, 127, N'Износ деталей', 3, 105, 180, 2, 2, N'')
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (1, N'Заказчик')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (2, N'Мастер')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (3, N'Оператор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Stage] ON 

INSERT [dbo].[Stage] ([Stage_ID], [Stage_Name]) VALUES (1, N'Выполнено')
INSERT [dbo].[Stage] ([Stage_ID], [Stage_Name]) VALUES (2, N'В работе')
INSERT [dbo].[Stage] ([Stage_ID], [Stage_Name]) VALUES (3, N'Не выполнено')
SET IDENTITY_INSERT [dbo].[Stage] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (1, N'В ожидании')
INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (2, N'В работе')
INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (3, N'Выполнено')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_ID], [User_Full_Name], [User_Login], [User_Password], [User_Role_ID]) VALUES (101, N'Ефремов Сергей Пантелеймонович', N'loginDEppn2018', N'6}i+FD', 1)
INSERT [dbo].[User] ([User_ID], [User_Full_Name], [User_Login], [User_Password], [User_Role_ID]) VALUES (102, N'Родионова Тамара Валентиновна', N'loginDElqb2018', N'RNynil', 1)
INSERT [dbo].[User] ([User_ID], [User_Full_Name], [User_Login], [User_Password], [User_Role_ID]) VALUES (103, N'Миронова Галина Улебовна', N'loginDEydn2018', N'34I}X9', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Defect] FOREIGN KEY([Request_Defect_ID])
REFERENCES [dbo].[Defect] ([Defect_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Defect]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Device] FOREIGN KEY([Request_Device_ID])
REFERENCES [dbo].[Device] ([Device_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Device]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Priory1] FOREIGN KEY([Request_Priory_ID])
REFERENCES [dbo].[Priory] ([Priory_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Priory1]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Stage] FOREIGN KEY([Request_Stage_ID])
REFERENCES [dbo].[Stage] ([Stage_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Stage]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Status] FOREIGN KEY([Request_Status_ID])
REFERENCES [dbo].[Status] ([Status_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Status]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([Request_Client_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User1] FOREIGN KEY([Request_Master_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User1]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User2] FOREIGN KEY([Request_Client_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User2]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([User_Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
